.searchBox{
    .searchLabel{
        margin: 0px 8px 0px 16px;
    }
   .searchItem{
     width: 200px;
    }
    .searchBtn{
        margin-left: 16px;
    }
    .addBtn{
        margin-left: 16px;
    }
}
.vritualFormBox{
    max-height: 500px;
    overflow: auto;
    padding: 0 16px;
}
.tableBox{
    margin-top:8px;
}

