.searchBox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    .searchLabel{
        margin: 0;
    }
   .searchItem{
     width: 200px;
    }
    .searchBtn{
        margin-left: 0;
    }
    .searchActions{
        display: flex;
        gap: 12px;
    }
    .resetBtn{
        margin-left: 0;
    }
    .addAction{
        margin-left: auto;
        display: flex;
    }
    .addBtn{
        margin-left: 16px;
    }
}
.vritualFormBox{
    max-height: 500px;
    overflow: auto;
    padding: 0 16px;
}
.propertyModalBody{
    height: 500px;
    overflow-y: auto;
    padding-right: 8px;
}
.tableBox{
    margin-top:8px;
}

